body { background-color:#FFCC01; color:#000000; padding-bottom:3em }

h1 { color:#800000; }

h2 { font-variant:small-caps; margin-bottom:0.1em; }

.announcement { border-style:solid;  border-width:medium; border-color:#FF0000; background:#FFFFFF; font-weight:bold; padding:0.2em; }

img#map { width:20em; }

#maplinks a { width:5em; text-align:center; word-break: break-all; padding-top:0.4em; }

#maplinks a img { width:4em; height:4em; }

img.gallerypicture { width:15em; height:15em; margin-right:0.4em; margin-bottom:0.4em; }

.flexconainer { display:flex; flex-wrap:wrap; flex-direction:row; }

#hourstable { margin-right:2em; }

#menuitems { display:flex; flex-wrap:wrap; flex-direction:row; }
#menuitems td { border-top-width:0.1em; border-top-style:dotted; }
#menuitems th { color:#800000; }
#menuitems table { width:20em; border-collapse:collapse; border-width:0.15em; border-style:solid; border-color:#800000; margin-right:1em; margin-bottom:1em; }
td.itemnumber { width:3em; padding-left:0.2em; }
td.price { text-align:right; padding-right:0.2em; }

a { text-decoration:none; color:#0000ff; }
a:hover { background:#ffff00; }
a:active { color:#ff0000; background:#ffffcc; }

@media print {
  body { background-color:#ffffff ! important; }
  body, a { color:#000000 ! important; }
  img { background-color:#ffffff ! important; }
}
